<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlink}}
</head>
<body>
    {{>navbar}}


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/4.png" alt="piyush" class="img-fluid" title="piyush">
                        </figure>
                        
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>WELCOME TO DEVILDEVELOPER WORLD</p>
                        <h1>I Am A <span class="text_clr">MERN Stack Developer</span> And A Freelancer</h1>
                        <a href="/weather"><button>About me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

   {{>footer}}
</body>
</html>